doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fantasy

    link(href='css/postdetail.css', rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    body
    header
      .navbar.navbar-dark.bg-dark
        .container.d-flex.justify-content-between(style='margin: auto;width:1000px')
          a.navbar-brand(href='#') Fantasy
          .div(style='margin-left: 200px;')
            a#login.btn.btn-info.float-right(role='button', href='./login.html', style='') Login
            a#signup.btn.btn-info(role='button', href='./register.html') Sign up
            a#myaccount.btn.btn-info.float-left(role='button', href='./myaccount', style='') My Account
            a#logout.btn.btn-info(role='button', href='./logout') Logout

    form.navbar-form.navbar-right(action='search', method='get')
      .input-group
        input.form-control(type='text', placeholder='Search', name='searchUser')
        .input-group-btn
          button.btn.btn-default(type='submit')
            i.glyphicon.glyphicon-search
            
    main(role='main')
      .album.text-muted
        .container
          .row
            each post in posts
              .card
                a(href="/postdetail?postid=#{post._id}&postuser=#{post.username}")
                  img(src="#{post.img}", alt="User post", width="300", height="300")
                p.card-text #{post.text}

    footer.text-muted
      .container
        p.float-right
          a(href='#') Back to top
        p CMPE280 Group Fantasy © Bootstrap

    script.
      function init() {
        if(#{logged}) {
          document.getElementById('login').style.visibility = 'hidden';
          document.getElementById('signup').style.visibility = 'hidden';
        } else {
          document.getElementById('myaccount').style.visibility = 'hidden';
          document.getElementById('logout').style.visibility = 'hidden';
        }
      }
      init();